{% load i18n %}

{% block subject %}
{% blocktrans %}Email OTP Verification {% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you need to verify your email.{% endblocktrans %}

{% trans "Please use this otp   to verify your email :" %}
    <p> <h3>OTP {{ token }}</h3></p>

{% trans "Thanks for using our site!" %}
{% trans "OTP is for one time use only please dont share this code to anyone" %}

{% endblock text_body %}

{% block html_body %}
{% blocktrans %}
<p> Dear {{ name }} You're receiving this email because you need to verify your email.</p>{% endblocktrans %}
{% blocktrans %}
<p>Please use this otp   to verify your email :</p>{% endblocktrans %}
    <p> <h3>OTP {{ token }}</h3></p>
    <p>{% trans "OTP is for one time use only please dont share this code to anyone" %}</p>
<p>


</p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The SitterApp team{% endblocktrans %}</p>

{% endblock html_body %}
